<template lang="pug">
    b-container
      b-row
        b-col
          h3 Ашигласан сервисийн түүх
          hr
      b-row
        b-col
          b-card(header="Ашигласан сервисүүд")
            b-table(responsive striped hover sm :items="history" :fields="tableFields")
              template(v-slot:cell(index)="data") {{ind + data.index +1}}
              
           
   
</template>

<script>

import UserService from "../services/user.service";
export default {
  name: "detail",
  data() {
    return {
        ind:0,
        tableFields: [
        { key: 'index', label: this.$t('tableFields.index'), class: 'text-center' },
        { key: 'usedDate', label: this.$t('tableFields.usedDate'), class: 'text-center' },
         { key: 'context', label: this.$t('tableFields.context'), class: 'text-center' },
         { key: 'userServiceName', label: this.$t('tableFields.usedService'), class: 'text-center' }      
        ],
        history: [],
        currentUser: null,
        rows: 100,
        currentPage: 1,
    };
  },
  created() {
    UserService.currentUser.subscribe((data) => {
      this.currentUser = data;

    });
  },
  mounted() {
      this.fetchData();
  },
  methods: {
    async fetchData() {
       UserService.userHistory(this.currentUser.id).then(
         (d) => {
           const { data } = d;
           this.history = data;
         },
         (error) => {
           console.log(error);
         }
         );
      
    },
  }
};
</script>
<style scoped>

.container {
  padding-top: 20px;
  padding-bottom: 40px;
  
}

h3 {
  text-align: center;
  font-weight: 300;
  font-family: Roboto,Noto,sans-serif;
  font-size:40px;
  letter-spacing:-.018em;
  line-height:48px;
  margin-bottom: 16px;
  color:#5c5c5c;
}
.card{
  box-shadow: 3px 3px 5px 6px #ccc;
  margin-top:20px;
}


</style>
