<template lang="pug" >
        //- .main-content
        //- .banner
        //-   b-container
        //-       .banner-title
        //-         h2 {{$t('NLP')}}
        //-       .banner-description
        //-         p.banner-info
        //-           |Монгол хэлний материалын санг холбогдох програмын системийн хамт бүрдүүлэх үндсэн дээр монгол хэлний судалгаанд цахим техник технологийг нэвтрүүлж судалгааны үр дүнгнийтийн хүртээл болгох, монгол хэл судлалын уламжлалт аргыг өргөжүүлэн хөгжүүлж компьютер боловсруулалтанд нийцэх шинэ арга боловсруулах, монголд компьютер хэл шинжлэлийн судалгааг хөгжүүлэн чанарын шинэ түвшинд гаргах, улмаар монгол хэлний өв соёлыг хамгаалахад тодорхой хувь нэмэр оруулна.
        //-         hr
        b-container
            b-row
              b-col
                h3 Хэл боловсруулах сервисүүд
                hr
            b-row
              b-col
               .box-container
                  .box
                    .icon 
                    .content 
                      h5 Хэл илрүүлэгч 
                      p  Тухайн бичвэр ямар хэл дээр байгааг тодорхойлдог
              b-col   
                .box-container
                  .box
                    .icon 
                    .content 
                      h5 Үг зүйн задлуур
                      p Монгол хэлний үгийн бүтцээр задлах дүрмийн дагуу үгсийг задалж үгийн үндсийг олно
              b-col   
                .box-container
                  .box
                    .icon 
                    .content 
                      h5 Утгат хэсгүүдийг тусгаарлагч
                      p Үгийн дагавар, нөхцөлүүдийг таньж, утгыг зөв тодорхойлох
            b-row
              b-col
                .box-container
                  .box
                    .icon 
                    .content 
                      h5 Хэрэггүй үг илрүүлэгч
                      p Тухайн бичвэрийг ойлгоход шаардлагагүй буюу дараагийн шатны боловсруулалтад шаардлагагүй үгсийг таних
              b-col        
                .box-container
                  .box
                    .icon 
                    .content 
                      h5 Үг зүйн задлуур   
                      p Монгол хэлний үгийн бүтцээр задлах дүрмийн дагуу үгсийг задалж үгийн үндсийг олно
              b-col
                .box-container
                  .box
                    .icon
                    .content 
                      h5 Нэрлэсэн нэгж таниур 
                      p Хүн, газар орон, байгууллагын нэр, тоо, мөнгө заасан илэрхийлэл, цаг хугацаа, огноо заасан хэлцийг танина   
          
</template> 

<script>

export default {
  name: 'home',
  
}
</script>
<style scoped >


.banner {
    box-shadow:3px 3px 5px 6px #ccc;
    background-color:#FFFFFF;
}
.banner-title h2 {
  font-weight: 300;
  font-family: Roboto,Noto,sans-serif;
  font-size:45px;
  letter-spacing:-.018em;
  line-height:48px;
  margin-bottom: 16px;
  color:#5c5c5c;
}
.banner-info {
  line-height:32px;
  font-size:16px;
  color:#5c5c5c;

}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-container .box {
  position: relative;
  padding:40px;
  background-color: #fff;
  -webkit-box-shadow: 8px 17px 24px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 17px 24px -11px rgba(0,0,0,0.75);
  box-shadow: 8px 17px 24px -11px rgba(0,0,0,0.75);
  border-radius:4px;
  box-sizing:border-box;
  margin:20px;
  height: 280px;
  overflow:hidden;

}
.box-container .box .icon {
 position:relative;
 width: 20px;
 height: 20px;
 color:#fff;
 background:#000;
 display: flex;
 justify-content: center;
 align-items:center;
 margin-bottom: 20px;
 border-radius: 50%;
 font-size: 20px;
 font-weight: 700;
 transition: 1s;
 box-shadow: 0 0 0 0 #2196f3;
  background:#2196f3;
}
.box-container .box .content {
  position:relative;
  z-index: 1;
  transition: 0.5s;
}
.box-container .box .content h3 {
  font-size:20px;
  margin:10px 0;
  padding:0;
}
.box-container .box .content p {
  margin:0;
  padding:0;
}
h3 {
  text-align: center;
  font-weight: 300;
  font-family: Roboto,Noto,sans-serif;
  font-size:40px;
  letter-spacing:-.018em;
  line-height:48px;
  margin-bottom: 16px;
  color:#5c5c5c;

}
</style>
