<template lang="pug">
  b-container
    b-row( align-h="center")  
      b-col
        b-card(class="my-card")
          img(id="profile-img"
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
            class="profile-img-card")
          b-form( @submit.prevent="handleLogin")          
            b-form-group( label="Username" label-for="input-1" )
              b-form-input(name="username" v-model="user.username"
                 id="input-1" size="sm" v-validate="'required'"  :state="!errors.has('username')")
              b-form-invalid-feedback( :state="!errors.has('username')") Заавал бөглөнө үү
            b-form-group( label="Password" label-for="input-2" )
              b-form-input(v-model="user.password" type="password" name="password" id="input-2" size="sm" 
              v-validate="'required'"  :state="!errors.has('password')")
              b-form-invalid-feedback( :state="!errors.has('password')") Заавал бөглөнө үү
            b-form-group
              b-button(type="submit" block variant="primary") Log in
            
    
</template>
<script>
import UserService from "../services/user.service";
import { User } from "../models/user";
export default {
  name: "login",
  data() {
    return {
      user: new User("", ""),
      loading: false
    };
  },
  mounted() {
    if (UserService.currentUserValue) {
      this.$router.push("/profile");
    }
  },
  methods: {
    handleLogin() {
      this.loading = true;
      this.$validator.validateAll();

      if (this.errors.any()) {
        this.loading = false;
        console.log('error')
        return;
      }
      UserService.login(this.user).then(
        data => {
          console.log(data);
          this.$router.push("/profile");
        },
        error => {
          //You can get warning, if you don't use paremeters.
          console.log(error);
          this.loading = false;
          this.$store.dispatch("error", "Username or password is not valid.");
          this.$bvToast.toast('Username or password is not valid.', {
              title: 'invalid',
              variant: 'danger',
              solid: true,
          });
        }
      );
    }
  }
};
</script>
<style scoped>
label {
  display: block;
  margin-top: 10px;
}
.b-container {
  padding: 40px 40px;
}
.my-card {
  max-width: 350px !important;
  background-color: #f7f7f7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
</style>