<template lang="pug">  
    b-container
        b-row
          b-col
            h3 {{$t('NLP')}}
            hr
        b-row
          b-col(cols="3" id="checkbox-contain")
            b-form-checkbox-group(
                  id="checkbox"
                  v-model="selected"  
                  :options="options"
                  value-field="item"
                  text-field="name"
                  stacked
                  switches
                  ) 
          b-col(md="6" ) 
                b-form-textarea(id="textarea"  v-model="document.content" placeholder="" rows="10" max-rows="12")
                b-overlay( :show="show" spinner-variant="primary" no-wrap )
        b-row
          b-col(md="6" offset="3")
            //- b-button-group(id="bgroup")
            //-   b-button(id="button" ref="button" :disabled="busy" variant="primary" size="md" @click="clear")  {{$t('clear')}}
            //-   b-button(id="button" ref="button" :disabled="busy" variant="primary" size="md" @click="analyze")   {{$t('analyze')}}
            div(class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups")
              div( class="btn-group mr-2" role="group" aria-label="First group")
                button(type="button" class="btn btn-primary" v-on:click="analyze") {{$t('analyze')}}
              div( class="btn-group" role="group" aria-label="First group")
                button(type="button" class="btn btn-primary" v-on:click="clear") {{$t('clear')}}
        b-row 
          b-col(md="9" offset="3")
            b-card(header="Ашигласан сервисүүд" v-if="data.length > 0") 
               b-table(responsive striped hover sm :items="data" :fields="tableFields")
           
</template>

<script>
import UserService from "../services/user.service";
import MiddleService from "../services/middle.service";
import { Document } from "../models/document";
export default {
  name: "profile",
  data() {
    return {
      currentUser: null,
      text: "",
      busy: false,
      timeout: null,
      show: false,
      document: new Document("", []),
      selected: [],
      tabs:[],
      tabCounter:0,
      showTabs:false,
      options: [
        { item: { id:1, name:"lemma"}, name: "Үгийн үндэс (Lemma)" },
        { item: { id:2, name:"posTag"}, name: "Үгийн аймаг (Postag)" },
        { item: { id:3, name:"nameType"}, name: "Нэрлэсэн нэгж (NameType)" },
        { item: { id:4, name:"word"}, name: "Үг илрүүлэх (Word)" },
      ],
      tableFields: [
        { key: 'word', label: this.$t('tableFields.word'), class: 'text-center' },
        { key: 'lemma', label: this.$t('tableFields.lemma'), class: 'text-center' },
        { key: 'nameType', label: this.$t('tableFields.nameType'), class: 'text-center' },
        { key: 'posTag', label: this.$t('tableFields.posTag'), class: 'text-center' },
        { key: 'stopWordType', label: this.$t('tableFields.stopWordType'), class: 'text-center' },
        
      ],
      data: [],
    };
  },
  //after created component
  created() {
    this.currentUser = UserService.currentUserValue;
    console.log(JSON.stringify(this.currentUser));
    if (!this.currentUser) {
      this.$router.push("/login");
    }
  },
  methods: {
    onHidden() {
      // Return focus to the button once hidden
      this.$refs.button.focus();
    },
   
    analyze() {
      this.show = true;
      this.document.analyzeServices = this.selected;
      if(this.selected.length === 0 )
      {
          this.$bvToast.toast('Боловсруулалтын төрлүүдээс сонгоно уу.', {
              title: 'Aлдаа',
              variant: 'danger',
              solid: true,
          });

        this.show = false;
          return;
      }
      MiddleService.analyzeText(this.document,this.currentUser.apiToken).then(
        (res) => {
           const { data } = res;
           this.data = data;
        },
        (error) => {
          console.log(error);
           this.$bvToast.toast('Алдаа гарлаа.', {
              title: 'Алдаа',
              variant: 'danger',
              solid: true,
          });
        }
      );
      setTimeout(() => {
        this.show = false;
      }, 2000);
    },

    clear() {
      this.document.content = "";
      this.selected = [];
    },

    logOut() {
      UserService.logout().then(() => {
        this.$router.push("/login");
      });
    },
  },
};
</script>

<style scoped>

.container {
  padding-top: 20px;
  padding-bottom: 40px;
  
}

.row {
  margin-top: 20px;
}
button {
  box-shadow:0 5px 15px rgba(0, 0, 0, .1);
 
}
#textarea {
  box-shadow: 1px 2px 2px 2px #ccc;
 }
 
.form-checkbox-group {
  margin-left:40px;
}
#checkbox {
  float: right;
}
h3 {
  text-align: center;
  font-weight: 300;
  font-family: Roboto,Noto,sans-serif;
  font-size:45px;
  letter-spacing:-.018em;
  line-height:48px;
  margin-bottom: 16px;
  color:#5c5c5c;
}

#bgroup {
  float: right ;
  padding: 10px;
}
</style>
