<template lang="pug">
  b-container
    b-row(class="justify-content-md-center")  
      b-cold
        b-card(class="my-card")
          img(id="profile-img"
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
            class="profile-img-card")
          b-form( @submit.prevent="handleRegister")
            b-form-group( label="Full Name" label-for="input-1" )
              b-form-input(name="name" v-model="user.name" id="input-1" size="sm" v-validate="'required'"  :state="!errors.has('name')")
              b-form-invalid-feedback( :state="!errors.has('name')") Заавал бөглөнө үү
            b-form-group( label="Username" label-for="input-2" )
              b-form-input(name="username" v-model="user.username" id="input-2" size="sm"  v-validate="'required'"  :state="!errors.has('username')")
              b-form-invalid-feedback( :state="!errors.has('username')") Заавал бөглөнө үү
            b-form-group( label="Password" label-for="input-3" )
              b-form-input(name="password" v-model="user.password" type="password"  id="input-3" size="sm" v-validate="'required'"  :state="!errors.has('password')")
              b-form-invalid-feedback( :state="!errors.has('password')") Заавал бөглөнө үү
            b-form-group
              b-button(type="submit" block variant="primary") Register
            
</template>

<script>
import UserService from "../services/user.service";
import { User } from "../models/user";
import { setTimeout } from "timers";
export default {
    name:'register',
    
    data() {
        return {
              user: new User("", "", ""),
              loading: false
        }
    },
    mounted() {
        if (UserService.currentUserValue) {
            this.$router.push("/profile");
        }
    },
    methods: {
    handleRegister() {
      console.log(JSON.stringify(this.user))
      this.loading = true;
      this.$validator.validateAll();
      if (this.errors.any()) {
        this.loading = false;
        console.log('error')
        return;
      }
      UserService.register(this.user)
        .then(
          data => {
            console.log(data);
            this.$store.dispatch("success", "Mission is completed.");
            this.$bvToast.toast('Mission is completed.', {
              title: 'Registered',
              variant: 'success',
              solid: true,
          });
      
            setTimeout(() => {
              this.$router.push("/login");
            }, 500);
          },
          error => {
            if (!error.response) {
              this.$store.dispatch("error", error);
            } else if (error.response.status === 409) {
              this.$store.dispatch("error", "Username is not valid.");
            } else {
              this.$store.dispatch("error", "Unexpected error occurred.");
            }
          }
        )
        .then(() => {
          this.loading = false;
        });
    }
  }
    
}
</script>

//scoper:css
<style scoped>
label {
  display: block;
  margin-top: 10px;
}
.b-container {
  padding: 40px 40px;
}
.my-card {
  max-width: 350px !important;
  background-color: #f7f7f7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
</style>