<template lang="pug"> 
    .banner
          b-container
              .banner-title
                h2 Монгол хэл боловсруулалт!
              .banner-description
                p.banner-info
                  | Google Developers Codelabs provide a guided, tutorial, hands-on coding experience. Most codelabs will step you through the process of
                  | building a small application, or adding a new feature to an existing application. They cover a wide range of topics such as Android Wear, 
                  | Google Compute Engine, Project Tango, and Google APIs on iOS. 
                hr
</template>
<style >
.banner {
    box-shadow:3px 3px 5px 6px #ccc;
    background-color:#FFFFFF;
}
.banner-title h2 {
  font-weight: 300;
  font-family: Roboto,Noto,sans-serif;
  font-size:45px;
  letter-spacing:-.018em;
  line-height:48px;
  margin-bottom: 16px;
  color:#5c5c5c;
}
.banner-info {
  line-height:32px;
  font-size:16px;
  color:#5c5c5c;
}
.main-content {
    width:100%;
}

.container {
  padding-top:40px;
  padding-bottom:40px;
}
</style>