
<template>
  <div shadow-sm>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <a href="https://vuejs.org/" class="navbar-brand">
        <img src="../assets/brand.svg" width="150" height="150" class="d-inline-block align-top"/>
      </a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">
            <font-awesome-icon icon="home"/> <span>{{$t('menu.home')}}</span>
          </a>
        </li>
      </div>

      <div class="navbar-nav ml-auto" v-if="!currentUser">
        <li class="nav-item">
          <a href="/register" class="nav-link">
            <font-awesome-icon icon="user"/>  <span> {{$t('menu.signup')}} </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link">
            <font-awesome-icon icon="sign-in-alt"/> <span>  {{$t('menu.login')}} </span>
          </a>
        </li>
      </div>

      <div class="navbar-nav ml-auto" v-if="currentUser">
        <li class="nav-item">
          <a @click="modalShow = !modalShow" class="nav-link">
            <font-awesome-icon icon="key"/>   
            <span>
           {{$t('menu.api-key')}}
           </span>
          </a>
        </li>  
        <li class="nav-item">
          <a href="/details" class="nav-link">
            <font-awesome-icon icon="user-secret"/> 
            <span>  
            {{$t('menu.details')}}
            </span>
          </a>
        </li>  
        <li class="nav-item">
          <a href="/profile" class="nav-link">
            <font-awesome-icon icon="user"/><span> {{currentUser.username}} </span>
          </a>
        </li>
        <li class="nav-item">
          <a @click="logOut" class="nav-link">
            <font-awesome-icon icon="sign-out-alt"/> <span>{{$t('menu.logout')}}</span>
          </a>
        </li>
           <b-modal :centered="true" v-model="modalShow" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant">
                <template v-slot:modal-header>
                    <!-- Emulate built in modal header close button action -->
                    <h6> <font-awesome-icon icon="key" /> API Key</h6>
                </template>
                <b-container-fluid>
                    <b-row>
                        <b-col> <b>Та энэ түлхүүрийг rest api хүсэлт тавихдаа ашиглах болно.</b> </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="3">
                            <label for="input-small">API Key:</label>
                        </b-col>
                        <b-col sm="9">
                            <b-form-input v-model="token" id="input-small" size="sm" placeholder="Enter your name"></b-form-input>
                        </b-col>
                    </b-row>
                </b-container-fluid>
            </b-modal>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import UserService from '../services/user.service';
export default {
  data() {
    return {
      currentUser: null,
      modalShow: false,
      headerBgVariant: "dark",
      headerTextVariant: "light",
      token: null,
    };
  },
  computed: {
    alert() {
      return this.$store.state;
    },
    alertStyle() {
      return this.$store.getters.alertStyle;
    }
  },
  created() {
    UserService.currentUser.subscribe(data => {
      this.currentUser = data;
      this.token = this.currentUser.apiToken;
    });
  },
  methods: {
    logOut() {
      UserService.logout().then(() => {
        this.$router.push('/login');
      });
    },
    clearAlert() {
      this.$store.dispatch('clear');
    },
  },
  watch: {
    $route(to, from) {
      //You can get warning, if you don't use paremeters.
      console.log(to + " -> " + from);
      this.clearAlert();
    }
  }  
}
</script>

<style scoped>
a {
    font-size:18px;
    font-weight:500;
    transition: all 0.4s ease 0s;
    padding-left:20px;
}
nav {
  height: 70px ;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  background-color: #ffffff !important;
}
.nav-item {
    padding-left: 20px;
}

a:hover {
  color: #42b983 !important;
}
 a.router-link-exact-active {
  color: #42b983 !important;
  
}
a span {
  margin-left:5px;
}
</style>