<template>
<div id="app" class="main-content-wrap d-flex flex-column">
    <Topbar/>
    <b-row>
        <transition name="router-anim" enter-active-class="animated fadeInDown" leave-active-class="animated fadeOutDown">
            <router-view />
        </transition>
    </b-row>
  
</div>
</template>
<script>
import UserService from "./services/user.service";
import Topbar from "./components/Topbar";
export default {
  
  data() {
    return {
      currentUser: null,
      modalShow: false,
      headerBgVariant: "dark",
      headerTextVariant: "light",
      token: null,
    };
  },
  components:{
    Topbar
  },
  computed: {
    alert() {
      return this.$store.state;
    },
    alertStyle() {
      return this.$store.getters.alertStyle;
    },
  },
  created() {
    UserService.currentUser.subscribe((data) => {
      this.currentUser = data;
      this.token = this.currentUser.apiToken;
    });
  },
  methods: {
    logOut() {
      UserService.logout().then((data) => {
        this.currentUser = data;
        this.$router.push("/login");
      });
    },
    clearArt() {
      this.$store.dispatch("clear");
    },
  },
  watch: {
    $route(to, from) {
      console.log(to + " -> " + from);
      this.clearArt();
    },
  },
};
</script>
<style>
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #eceff1;
}
html{
   background-color: #eceff1;
}
</style>
